langchain
opentelemetry-exporter-otlp
openai
arize-phoenix==8.19.0
openinference-instrumentation-openai
weaviate-client
langchain_huggingface
langchain_weaviate
langchain_community

faiss-cpu
fastapi
sqlalchemy
uvicorn
tiktoken
nest-asyncio 

joblib==1.4.2
pandas==2.2.3
scikit-learn==1.3.2
numpy==1.26.2
